
<!DOCTYPE html>
<html>
<head>
	<title>"SELLAM.com-marketplace for electronics, shoes,clothes and many more</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
      <style>
         img{
               width: 200px;
               height: 200px;
               padding:  30px;
}
  </style>
         
</head>
<body>
	<header>
		<h2> SELLAM.com</h2>
	</header>
	<div class="nav">
		<a href="home.html">Home</a>
		<a href="signup.html">Register</a>
		<a href="login.html">Login</a>
		<a href="contact.html">Post Ad</a>	
			<div class="search">
				<form>
					<input type="text" placeholder="search here">
				<button>Search</button>
				</form>
			</div>	
</div>
	
            <h2 style='color:blue;>' Welcome to "SELLAM.com"- the best marketplace for all campuses in Ghana. You can buy and sell any product in your room at an affordable price.</h2>
           
      <h4><strong> Browse our categories: <h4><strong>
     <div class="big">
     <table>
   <tr>
         <td><img src="static/images/1.jpg" </td>
       <p><a href ="static/Shoes.html">Shoes</a><p>

      <td><img src="static/images/watch.jpg" </td>
      <p><a href ="static/Watches.html">Watches</a><p>

      <td><img src="static/images/7.jpg" </td>
      <p><a href="static/Phones.html">Phones</a><p>

 <td><img src="static/images/8.jpg" </td>
  <p><a href="static/Clothes.html">Clothes</a><p>

<td><img src="static/images/12.jpg" </td>
  <p><a href="static/Bags.html">School Bags</a><p>
   </tr>
   </table>
  </div>
</body>

